.popup {
  position: relative;
  top: 0;
  left: 0;
  
  }
  .popup_inner {
    border: 2px solid rgb(223, 220, 220);
    position:fixed;
    background: white;
    width: auto;
    height: auto;
    top:30%;
    left:50%;
    width:60vw;
    height: 55vh;
    transform: translate(-50%,-50%);
    z-index: 9;
    overflow:auto;   
  }
