.register-component
{
    padding:10px;
}
.grey-text
{
    width: 30vw;
}
.register-form
{
    display: flex;
    flex-direction:column;
    width: 70vw;
    height: 1000px;
    align-items: center;
    justify-content: center;
}
.register-btn
{
    background-image: linear-gradient(to left, #D53D96  , #7A2A90);
}