.sign-in-component
{
    padding:10px;
}
.login-form
{
    display: flex;
    flex-direction:column;
    width: 70vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
}
.login-btn
{
    background-image: linear-gradient(to left, #D53D96  , #7A2A90);
}